<div class="card card-body">
  <div class="text-center">
    <h2><%= @post.title %></h2>
  </div>
  <p><%= @post.body %></p>
</div>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-light' %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Você tem certeza? "}, :class => 'btn btn-danger' %>

<hr>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>
